// 載入rwd
@import "@/assets/styles/scss/_rwdMixin";

// 實心按鈕樣式
@mixin btn($color) {
  color: $white;
  background-color: $color;
  &:hover {
    background-color: darken($color, 5%);
    color: $white;
  }
  &:focus {
    box-shadow: 0 0 0 0;
  }
}

.btn {
  // 按鈕基礎樣式
  &--baseSet {
    font-size: 16px;
    border-radius: 0px;
    padding: 8px 20px 5px;
  }

  // 實心按鈕-主色
  &--mainColor {
    @include btn($mainColor);
  }

  // 實心按鈕-輔色
  &--secColor {
    @include btn($secColor);
  }
}

// 完成表單前按鈕不可點選指標
.btn:disabled {
  cursor: not-allowed;
}

// 外框線按鈕樣式
@mixin btn_outline($color) {
  color: $color;
  background-color: $white;
  border: 1px $color solid;
  &:hover {
    color: $white;
    background-color: $color;
    border: 1px $color solid;
  }
  &:focus {
    box-shadow: 0 0 0 0;
  }
}

.btn-outline {
  // 外框線按鈕-主色
  &--mainColor {
    @include btn_outline($mainColor);
  }

  // 外框線按鈕-輔色
  &--secColor {
    @include btn_outline($secColor);
  }
}

// 分頁按鈕
.page-link {
  color: $secColor;
  &:focus {
    box-shadow: 0 0 0 0;
  }
  &:hover {
    color: #000;
  }
}

.page-item.active .page-link {
  background-color: $secColor;
  border: 1px $secColor solid;
}

// 編輯與刪除icon
.edit_icon,
.delete_icon {
  color: #000;
  &:hover {
    color: $secColor;
  }
}

// <--- 購物數量按鈕相關 --->
.input {
  border: solid 1px rgb(239, 239, 239);
}

// input[type=number] 取消上下箭頭
/* Chrome, Safari, Edge, Opera */
.input__number::-webkit-outer-spin-button,
.input__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input__number {
  -moz-appearance: textfield;
}

// 數量與增減按鈕
.input__number,
.input__button {
  border-radius: 0;
  border: 0;
}

// 產品詳細頁的按鈕
.product{
  // 數量按鈕
  .input__number {
    padding: 6px 1rem;
    &:focus {
      outline: none;
    }
    @include md {
      padding: 6px;
    }
  }
  
  // 增減按鈕
  .input__button {
    height: 38px;
    width: 38px;
    font-weight: bold;
    &:hover {
      background-color: $secColor;
      color: $white;
    }
    @include md {
      height: 38px;
      width: 20px;
    }
  }

}

// 購物車頁的按鈕
.cart{
  // 數量按鈕
  .input__number {
    padding: 6px;
    &:focus {
      outline: none;
    }
  }
  
  // 增減按鈕
  .input__button {
    padding: 6px;
    font-weight: bold;
    &:hover {
      background-color: $secColor;
      color: $white;
    }
  }

}
